In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../csv/mammographic_masses.csv')

In [3]:
df.isna().sum()

5      0
67     0
3      0
5.1    0
3.1    0
1      0
dtype: int64

In [4]:
df

     5  67  3 5.1 3.1  1
0    4  43  1   1   ?  1
1    5  58  4   5   3  1
2    4  28  1   1   3  0
3    5  74  1   5   ?  1
4    4  65  1   ?   3  0
..  ..  .. ..  ..  .. ..
955  4  47  2   1   3  0
956  4  56  4   5   3  1
957  4  64  4   5   3  0
958  5  66  4   5   3  1
959  4  62  3   3   3  0

[960 rows x 6 columns]

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np
import random

In [6]:
# TESTE COM VALORES FALTANTES

In [7]:
# DEFINE A COLUNA ALVO EM Y , REMOVE A COLUNA ALVO DO DATA FRAME
y = df['1']
df.drop(columns=['1'], inplace=True)
df = df.replace('\?', random.randint(0,0), regex=True)
df = df.astype(np.float64)
df = df.fillna(df.mean())
df

       5    67    3  5.1  3.1
0    4.0  43.0  1.0  1.0  0.0
1    5.0  58.0  4.0  5.0  3.0
2    4.0  28.0  1.0  1.0  3.0
3    5.0  74.0  1.0  5.0  0.0
4    4.0  65.0  1.0  0.0  3.0
..   ...   ...  ...  ...  ...
955  4.0  47.0  2.0  1.0  3.0
956  4.0  56.0  4.0  5.0  3.0
957  4.0  64.0  4.0  5.0  3.0
958  5.0  66.0  4.0  5.0  3.0
959  4.0  62.0  3.0  3.0  3.0

[960 rows x 5 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df, y, train_size=0.80, random_state=0, stratify=y)

In [9]:
y = y_train
y_str = y.astype('category')

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8125