In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../csv/Consumo_cerveja.csv', sep=';')

In [3]:
df

           data  temp_media  temp_min  temp_max  chuva  fds  consumo
0    01/01/2015       27.30      23.9      32.5    0.0    0    25461
1    02/01/2015       27.02      24.5      33.5    0.0    0    28972
2    03/01/2015       24.82      22.4      29.9    0.0    1    30814
3    04/01/2015       23.98      21.5      28.6    1.2    1    29799
4    05/01/2015       23.82      21.0      28.3    0.0    0    28900
..          ...         ...       ...       ...    ...  ...      ...
360  27/12/2015       24.00      21.1      28.2   13.6    1    32307
361  28/12/2015       22.64      21.1      26.7    0.0    0    26095
362  29/12/2015       21.68      20.3      24.1   10.3    0    22309
363  30/12/2015       21.38      19.3      22.4    6.3    0    20467
364  31/12/2015       24.76      20.2      29.0    0.0    0    22446

[365 rows x 7 columns]

In [4]:
#Verificação e limpeza de dados
df = df.rename(columns={'temp_media':'temperatura_media'})
df.isna().sum()

data                 0
temperatura_media    0
temp_min             0
temp_max             0
chuva                0
fds                  0
consumo              0
dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X = df[['temperatura_media']]
y = df[['consumo']]

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
X_test

     temperatura_media
168              19.88
190              19.24
135              17.18
145              21.28
56               24.10
..                 ...
97               18.68
203              17.02
67               21.36
152              16.04
101              19.92

[92 rows x 1 columns]

In [10]:
lr = LinearRegression().fit(X_train, y_train)

In [11]:
y_pred = lr.predict(X_test)

In [12]:
y_test

     consumo
168    24534
190    25698
135    23702
145    22162
56     22784
..       ...
97     23362
203    19029
67     20016
152    20106
101    25070

[92 rows x 1 columns]

In [13]:
vals = zip(y_pred, y_test.values)
MSE = 0
for v in vals:
    MSE += (v[0] - v[1])**2

print(MSE)

[1.13272926e+09]

In [14]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

12312274.568846446